node_modules/
**/node_modules/

.next/
**/.next/
out/
**/out/
dist/
**/dist/
build/
**/build/
coverage/
**/coverage/

.env
.env.*
!.env.example
!.env.local.example
**/.env
**/.env.*
!**/.env.example
!**/.env.local.example

.turbo/
.expo/
**/.expo/
*.log
*.tsbuildinfo
Thumbs.db
.DS_Store
