PORT=4000
FIREBASE_PROJECT_ID=kkprofiling-c42b4
FIREBASE_CLIENT_EMAIL=your-service-account@kkprofiling-c42b4.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_DATABASE_ID=kkprofiling
CLIENT_URL=http://localhost:3000
QR_SECRET=your-secret-key-here
