NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB9kyNcE2xFxfVD4en8pXm6_5XZnT8-hDI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=kkprofiling-c42b4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=kkprofiling-c42b4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=kkprofiling-c42b4.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=227327975687
NEXT_PUBLIC_FIREBASE_APP_ID=1:227327975687:web:a4cdea992aa1844062e5a2
